<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/simpleLayout">

    <main class="content">
        <p layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card card-block">
                            <table id="airports" class="datatable table table-striped table-responsive" data-disabled="5,6">
                                <thead>
                                    <tr>
                                        <th>
                                            Airport id
                                        </th>
                                        <th>
                                            IATA
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Country
                                        </th>
                                        <th>
                                            City
                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="airport: ${airports}">
                                        <td data-name="id" th:text="${airport.id}">
                                        </td>
                                        <td data-name="iata" th:text="${airport.iata}">
                                        </td>
                                        <td data-name="name" th:text="${airport.name}" >
                                        </td>
                                        <td data-name="country" th:text="${airport.country}">
                                        </td>
                                        <td data-name="city" th:text="${airport.city}">
                                        </td>
                                        <td>
                                            <form class="form" id="remove-form" method="post" th:attr="action='/pa165/airport/delete/'+${airport.id}">
                                                <button class="btn btn-danger" th:attr="data-id=${airport.id}">Remove</button>
                                            </form>
                                        </td>
                                        <td>
                                            <button class="btn btn-success btn-update" th:attr="data-id=${airport.id}">Update</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 push-md-6">
                        <div id="update" class="hidden">
                            <div class="card card-block">
                                <h4>Update airport</h4>
                                <form class="form" id="update-form" method="post" action="">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">IATA</label>
                                                <input type="text" class="form-control" id="iata" name="iata" required="required"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Country</label>
                                                <input type="text" class="form-control" id="country" name="country" required="required"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required="required"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="">City</label>
                                                <input type="text" class="form-control" id="city" name="city" required="required"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Id</label>
                                                <input type="text" disabled="disabled" class="form-control" id="id" name="id"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-right">
                                            <button class="btn btn-default btn-cancel" type="reset">Cancel</button>
                                            <button class="btn btn-success" type="submit">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pull-md-6">
                        <div class="card card-block">
                            <h4>Add airport</h4>
                            <form class="form" id="add-form" method="post" action="/pa165/airport/create">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">IATA</label>
                                            <input type="text" class="form-control" id="iata" name="iata" required="required"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Country</label>
                                            <input type="text" class="form-control" id="country" name="country" required="required"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Name</label>
                                            <input type="text" class="form-control" id="name" name="name" required="required"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="">City</label>
                                            <input type="text" class="form-control" id="city" name="city" required="required"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-success" type="submit">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </p>
    </main>
</html>