<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/simpleLayout">

    <main class="content">
        <p layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card card-block">
                            <table id="flights" class="datatable table table-striped table-responsive" data-disabled="8,9">
                                <thead>
                                    <tr>
                                        <th>
                                            Flight id
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Source port
                                        </th>
                                        <th>
                                            Destination port
                                        </th>
                                        <th>
                                            Departure
                                        </th>
                                        <th>
                                            Arrival
                                        </th>
                                        <th>
                                            Airplane
                                        </th>
                                        <th>
                                            Steward
                                        </th>
                                        <th>
                                            Passengers
                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="flight: ${flights}">
                                        <td data-name="id" th:text="${flight.id}">

                                        </td>
                                        <td data-name="name" th:text="${flight.name}">

                                        </td>
                                        <td data-name="source" th:text="${flight.sourceport.name}">
                                            Source
                                        </td>
                                        <td data-name="destination"  th:text="${flight.destinationport.name}">
                                            Destination
                                        </td>
                                        <td data-name="departure" th:text="${#dates.format(flight.departure, 'dd. MMM. yyyy HH:mm')}">

                                        </td>
                                        <td data-name="arrival"  th:text="${#dates.format(flight.arrival, 'dd. MMM. yyyy HH:mm')}">>

                                        </td>
                                        <td data-name="airplane" data-type="select" th:attr="data-option=${flight.airplane.getId()}" th:text="${flight.airplane.getName()}">
                                            <!--do data-option prijde id letadla-->

                                        </td>
                                        <!--<td data-name="steward" data-type="select" th:attr="data-option=${flight.steward.getId()}" th:text="${flight.steward.getName()}">>-->
                                        <td data-name="steward" data-type="select">
                                            Steward??
                                            <!--do data-option prijde id stewarda-->

                                        </td>
                                        <td data-name="passengers" th:text="${flight.passagers}">

                                        </td>
                                        <td>
                                            <button class="btn btn-danger" th:attr="data-id=${flight.id}">Remove</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-success btn-update" th:attr="data-id=${flight.id}">Update</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 push-md-6">
                        <div id="update" class="hidden">
                            <div class="card card-block">
                                <h4>Update flight</h4>
                                <form class="form" id="update-form" method="post" action="">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Source port</label>
                                                <input type="text" class="form-control" id="source" name="source" required="required" />
                                            </div>
                                            <div class="form-group">
                                                <label for="">Departure</label>
                                                <input type="text" class="form-control" id="departure" name="departure" required="required" />
                                            </div>
                                            <div class="form-group">
                                                <label for="">Airplane</label>
                                                <select class="custom-select form-control" id="airplane" name="airplane">
                                                    <option th:attr="value=${airplane.id}" th:each="airplane: ${airplanes}" th:text="${airplane.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Destination port</label>
                                                <input type="text" class="form-control" id="destination" name="destination" required="required" />
                                            </div>
                                            <div class="form-group">
                                                <label for="">Arrival</label>
                                                <input type="text" class="form-control" id="arrival" name="arrival" required="required" />
                                            </div>
                                            <div class="form-group">
                                                <label for="">Steward</label>
                                                <select class="custom-select form-control" id="steward" name="steward">
                                                    <option th:attr="value=${steward.id}" th:each="steward: ${stewards}" th:text="${steward.firstName} + ' ' + ${steward.lastName}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Passengers</label>
                                                <input type="number" class="form-control" id="passengers" name="passengers" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Id</label>
                                                <input type="text" disabled="disabled" class="form-control" id="id" name="id" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-right">
                                            <button class="btn btn-default btn-cancel" type="reset">Cancel</button>
                                            <button class="btn btn-success" type="submit">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pull-md-6">
                        <div class="card card-block">
                            <h4>Add flight</h4>
                            <form class="form" id="add-form" method="post" action="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Source port</label>
                                            <select class="custom-select form-control" id="source" name="source" required="required">
                                                <option></option>
                                                <option th:attr="value=${airport.id}" th:each="airport: ${airports}" th:text="${airport.name}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Departure</label>
                                            <input type="text" class="form-control" id="departure" name="departure" required="required" />
                                        </div>
                                        <div class="form-group">
                                            <label for="">Airplane</label>
                                            <select class="custom-select form-control" id="airplane" name="airplane">
                                                <option></option>
                                                <option th:attr="value=${airplane.id}" th:each="airplane: ${airplanes}" th:text="${airplane.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Destination port</label>
                                            <select class="custom-select form-control" id="destination" name="destination" required="required">
                                                <option></option>
                                                <option th:attr="value=${airport.id}" th:each="airport: ${airports}" th:text="${airport.name}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Arrival</label>
                                            <input type="text" class="form-control" id="arrival" name="arrival" required="required" />
                                        </div>
                                        <div class="form-group">
                                            <label for="">Steward</label>
                                            <select class="custom-select form-control" id="steward" name="steward">
                                                <option></option>
                                                <option th:attr="value=${steward.id}" th:each="steward: ${stewards}" th:text="${steward.firstName} + ' ' + ${steward.lastName} "></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Passengers</label>
                                            <input type="number" class="form-control" id="departure" name="passengers" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-success" type="submit">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </p>
    </main>
</html>
