<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/simpleLayout">

	<main class="content">
		<p layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="card card-block">
						<table id="flights" class="datatable table table-striped table-responsive" data-disabled="8,9">
							<thead>
								<tr>
									<th th:text="#{flight.id}">
										Flight ID
									</th>
									<th th:text="#{flight.name}">
										Flight Name
									</th>
                                    <th th:text="#{flight.source}">
                                        Source port
                                    </th>
									<th th:text="#{flight.destination}">
										Destination port
									</th>
									<th th:text="#{flight.departure}">
										Departure
									</th>
									<th th:text="#{flight.arrival}">
										Arrival
									</th>
									<th th:text="#{flight.airplane}">
										Airplane
									</th>
									<th th:text="#{flight.stewards}">
										Steward
									</th>
									<th th:text="#{flight.passagers}">
										Passengers
									</th>
								</tr>
							</thead>
							<tbody th:object="flights">
								<tr th:each="flight : ${flights}">
									<td data-name="id" th:text="${flight.id}">
										Flight ID
									</td>
									<td data-name="name" th:text="${flight.name}">
                                        Flight name
									</td>
									<td data-name="source" th:text="${flight.sourceport}">
                                        Source Port
									</td>
									<td data-name="destination" th:text="${flight.destinationport}">
                                        Destination Port
									</td>
									<td data-name="departure" th:text="${flight.departure}">
                                        Departure Time
									</td>
									<td data-name="arrival" th:text="${flight.arrival}">
                                        Arrival Time
									</td>
									<td data-name="airplane" th:text="${flight.airplane}">
                                        Airplane
									</td>
									<td data-name="stewards" th:text="${flight.stewards.size()}">
                                        Stewards
                                        <span>
                                            <button class="btn" th:attr="data-id=${flight.id}" th:text="#{flight.steward.add}">Add Steward</button>
                                        </span>
                                    </td>
                                    <td data-name="passengers" th:text="${flight.passagers}">
                                        Passengers
                                        <span>
                                            <button class="btn" th:attr="data-id=${flight.id}" th:text="#{flight.passagers.add}">Add Passenger</button>
                                        </span>
                                    </td>
									<td>
										<button class="btn btn-danger" th:attr="data-id=${flight.id}">Remove</button>
									</td>
									<td>
										<button class="btn btn-success btn-update" th:attr="data-id=${flight.id}">Update</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-md-6 push-md-6">
					<div id="update" class="hidden">
						<div class="card card-block">
							<h4 th:text="#{flight.update}">Update flight</h4>
							<form class="form" id="update-form" method="post" action="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label th:text="#{flight.name}">Name</label>
                                            <input type="text" disabled="disabled" class="form-control" id="flight_name" name="id" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label th:text="#{flight.passagers}">Passengers</label>
                                            <input type="number" class="form-control" id="flight_passengers" name="passengers" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label th:text="#{flight.id}">Id</label>
                                            <input type="text" disabled="disabled" class="form-control" id="id" name="id" />
                                        </div>
                                    </div>
                                </div>
								<div class="row">
									<!--
									Letiska sa pridavaju v inej obrazovke
									<div class="col-md-6">-->
										<!--<div class="form-group">-->
											<!--<label th:text="#{flight.source}">Source port</label>-->
											<!--<input type="text" class="form-control" id="flight_sourceport" name="source" required="required" />-->
										<!--</div>-->

                                        <!--<div class="form-group">-->
                                            <!--<label th:text="#{flight.destination}">Destination port</label>-->
                                            <!--<input type="text" class="form-control" id="flight_destinationport" name="destination" required="required" />-->
                                        <!--</div>-->
									<!--</div>-->
									<div class="col-md-6">
                                        <div class="form-group">
                                            <label th:text="#{flight.departure}">Departure</label>
                                            <input type="datetime" class="form-control" id="fligth_departure" name="departure" required="required" />
                                        </div>
										<div class="form-group">
											<label th:text="#{flight.arrival}">Arrival</label>
											<input type="datetime" class="form-control" id="fligth_arrival" name="arrival" required="required" />
                                        </div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12 text-right">
										<button class="btn btn-default btn-cancel" type="reset" th:text="#{flight.btn.cancel}">Cancel</button>
										<button class="btn btn-success" type="submit" th:text="#{flight.btn.update}">Update</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6 pull-md-6">
					<div class="card card-block">
						<h4 th:text="#{flight.add}">Add flight</h4>
						<form class="form" id="add-form" method="post" action="">
							<div class="row">
								<div class="col-md-6">
                                    <!--
                                    Letiska sa pridavaju v inej obrazovke
                                    <div class="col-md-6">-->
                                        <!--<div class="form-group">-->
                                        <!--<label th:text="#{flight.source}">Source port</label>-->
                                        <!--<input type="text" class="form-control" id="flight_sourceport" name="source" required="required" />-->
                                        <!--</div>-->

                                        <!--<div class="form-group">-->
                                        <!--<label th:text="#{flight.destination}">Destination port</label>-->
                                        <!--<input type="text" class="form-control" id="flight_destinationport" name="destination" required="required" />-->
                                        <!--</div>-->
                                    <!--</div>-->
								</div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:text="#{flight.departure}">Departure</label>
                                        <input type="datetime" class="form-control" id="fligth_departure_add" name="departure" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{flight.arrival}">Arrival</label>
                                        <input type="datetime" class="form-control" id="fligth_arrival_add" name="arrival" required="required" />
                                    </div>
                                </div>
							</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:text="#{flight.name}">Name</label>
                                        <input type="text" disabled="disabled" class="form-control" id="flight_name_add" name="id" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:text="#{flight.passagers}">Passengers</label>
                                        <input type="number" class="form-control" id="flight_passengers_add" name="passengers" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label th:text="#{flight.id}">Id</label>
                                        <input type="text" disabled="disabled" class="form-control" id="id_add" name="id" />
                                    </div>
                                </div>
                            </div>
							<div class="row">
								<div class="col-xs-12 text-right">
									<button class="btn btn-success" type="submit" th:text="#{flight.btn.add}">Add</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</p>
	</main>
</html>
