<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/simpleLayout">

    <div layout:fragment="content">
    <div class="row">
        <div class="card card-block">
            <h4 th:text="#{flight.add}">Add flight</h4>
            <form class="form" id="add-form" method="post" action="" th:object="${flight}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label th:text="#{flight.departure}">Departure</label>
                            <input type="datetime-local" class="form-control" id="fligth_departure_add" name="departure" th:value="${{flight.departure}}"/>
                        </div>
                        <div class="form-group">
                            <label th:text="#{flight.arrival}">Arrival</label>
                            <input type="datetime-local" class="form-control" id="fligth_arrival_add" name="arrival" th:value="${{flight.arrival}}"/>
                        </div>
                        <div class="form-group">
                            <label th:text="#{flight.name}">Name</label>
                            <input type="text" class="form-control" id="flight_name_add" name="name" />
                        </div>
                        <div class="form-group">
                            <label th:text="#{flight.passagers}">Passengers</label>
                            <input type="number" class="form-control" id="flight_passengers_add" name="passengers" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-default btn-cancel" type="reset" th:text="#{flight.btn.cancel}">Cancel</button>
                        <button class="btn btn-success" type="submit" th:text="#{flight.btn.add}">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</html>
