<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/simpleLayout">



<main class="content">
    <p layout:fragment="content">
        <div class="row">
            <div class="col-xs-12">
                <div id="task-panel" class="list-panel">
                    <table>
                        <tr>
                            <th>Id</th>
                            <th>name</th>
                        </tr>
                        <tr th:each="prod: ${flights}">
                            <td th:text="${prod.id}">Oranges</td>
                            <td th:text="${prod.name}">0.99</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </p>
</main>
</html>