<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/simpleLayout">


    <div layout:fragment="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="home mt-3">
                    <h1 th:text="#{home.welcome}"></h1>
                    <img src="static/img/airplane.png" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>

</html>