<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/simpleLayout">


    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 offset-sm-0">
                <div class="home mt-3">
                    <div class="mt-2 card card-block" th:unless="${#httpServletRequest.remoteUser}">
                        <h1 th:text="#{login.title}"/>
                        <div th:if="${param.error}" th:text="#{login.invalid.credentials.msg}"/>
                        <div th:if="${param.logout}" th:text="#{logout.msg}"/> 
                        <form class="form text-left mt-1 mb-1" id="login-form" th:action="@{/appLogin}" method="post">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label th:text="#{login.username}" class="pr-1">User Name : </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" id="username" name="username" required="required"/> 
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label th:text="#{login.password}" class=""> Password: </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="password" name="password"/> 
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <input class="btn btn-success" type="submit" th:value="#{loginbtn}"/> 
                            </div>
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                        </form>
                    </div>
                    <div class="align-middle mt-2 row card card-block" th:if="${#httpServletRequest.remoteUser}">
                        <table border="0" class="align-middle" align="center">
                            <tr>
                                <td th:text="#{logged.as.msg}"/>
                                <td><b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b></td>
                            </tr>
                        </table>
                        <form class="form align-middle" id="logout-form" th:action="@{/app/logout}" method="POST">
                            <input type="submit" th:value="#{logoutbtn}"/>
                        </form>
                    </div>     

                </div>
            </div>
        </div>
    </div>

</html>
