<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
       ">

    <import resource="../database/DataSource.xml" />
    <import resource="../database/Hibernate.xml" />


    <bean id="stewardDAO" class="cz.muni.airport.dao.impl.StewardDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="stewardService" class="cz.muni.airport.services.impl.StewardServiceImpl">
        <property name="stewardDAO" ref="stewardDAO" />
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <context:component-scan base-package="cz.muni.airport" />
</beans>